@media only screen and (max-width: 576px) {
    .top-banner {
        height: 150vw;
        min-height: 600px;
    }

    .top-banner .banner-caption .left-sec {
        margin-left: 4%;
        padding-top: 5%;
    }

    .top-banner .banner-caption .left-sec .reg-btn {
        margin-top: 4vw;
    }

    .top-banner .banner-caption .right-sec {
        margin-top: 48%;
        width: 100%;
        margin-right: auto;
        text-align: end;
        margin-left: 0;
        padding-right: 20px;
    }

    .top-banner .banner-caption .caption {
        font-size: 20px;
        margin-bottom: 2px;
    }

    .top-banner .banner-caption .small-text {
        font-size: 17px;
    }

    .sub-heading,
    .heading {
        margin-bottom: 0;
    }

    .sub-heading {
        font-size: 32px !important;
    }

    .heading {
        font-size: 40px;
    }

    .left-sec .reg-btn {
        background-color: #0009 !important;
    }

    /* third sec */
    .third-sec {
        background-image: url('../img/3sec-mobile.jpg') !important;
        min-height: 150vw !important;
    }

    .third-sec .third-heading {
        padding-top: 10%;
        width: 75%;
    }

    .third-sec .heading {
        font-size: 40px !important;
    }

    .third-sec .left-sec {
        margin-top: 5%;
        margin-left: 0;
        text-align: center;
    }

    .third-sec .left-sec .content {
        text-align: left;
        margin: 5%;
        width: 100%;
    }

    .third-sec .content h3 {
        font-size: 25px;
    }

    .third-sec .content p {
        font-size: 15px;
        width: 60%;
    }

    .third-sec .right-sec {
        text-align: end;
        margin-left: 0;
        margin-top: 0;
    }

    .third-sec .right-sec,
    .third-sec .left-sec {
        display: none;
    }

    .third-sec .right-sec .content {
        margin: 10px;
        margin-left: 50%;
    }

    .cards .container {
        padding-bottom: 20px;
    }

    .cards img {
        padding: unset !important;
    }

    .teacher-sec {
        background-size: contain !important;
        background-repeat: no-repeat !important;
        padding-top: 0 !important;

    }

    .teacher {
        padding: 5% !important;
    }

    .teacher h3 {
        font-size: 25px !important;
    }

    .teacher-sec .owl-carousel .item img {
        width: 200px;
    }

    .teacher-sec .header h3 {
        font-size: 30px !important;

    }

    .sm-text-left {
        text-align: left !important;
    }

    /* table sec */
    .tables-section h3.eng {
        font-size: 3.5vw;
    }

    .tables-section h2.eng {
        font-size: 4vw;
    }

    .banner-caption .right-sec {
        display: none;
    }

    .bottom-section {
        min-height: 150px !important;
        padding-top: 5vw !important;
    }
}

@media only screen and (max-width: 576px) {
    .cards img {
        max-width: 45vw;
    }

    .third-sec {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 950px) and (min-width: 576px) {
    .third-sec {
        background-size: cover;
    }
}

@media only screen and (min-width: 576px) {
    .banner-caption .left-sec {
        margin-top: 15%;
    }
}